* {
  padding: 0;
  margin: 0;
}
.slider{
  width: 100%;
  height: 50vh;
  background-color: rgb(91, 94, 93);
  margin-bottom: 5%;
  margin-top: 5%;
}

.wite{
  margin-top: 5vh;
  width: 100%;
  height: 6vh;
}
.imge{
  margin-bottom: 3vh;
}  
#signe{
  width: 100%;
  height: 100vh;
  background-color: red;
}
 
    .body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form-signe{
      width: 50%;
      height: 70%;
    }
    .input-sign{
      width: 100%;
      height: 5vh;
      border-radius:50px ;
      margin-bottom: 10px;
    }
    .description{
      margin-bottom: 15px;
    }
    input {
      font-size: 1rem;
      padding: 20px;
      
    }

    input:focus {
      border-color: var(--brandColor) !important;
      box-shadow: 0 0 0 1px var(--brandColor) !important;
    }
    
    .tre{
      width: 100%;
      height: 1px;
      background-color: black;
      margin-top: 10px;
      border-radius: 50px;
      margin-bottom: 10px;
    }
    .img{
      margin-bottom: 10px;
    }